:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --footer-grey-text: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --bb-focus: #188ce8;
  --white-text-color: #ffffff;
  --logo-text-color: #000000;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --accent-bg-color: #2f303a;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --header-border-color: #ececec;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1 px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --filter-btn-gap: 8px;
  --btn-radius: 4px;
  --transition-param: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-tr-param: 250ms cubic-bezier(0.17, 0.67, 0.96, 0.48);
}

.advantages__list, .services__list, .team__list, .clients__list, .portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.advantages, .team, .clients, .portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantages, .team, .clients, .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages__item, .services__item, .team__item, .clients__item, .portfolio__item {
  margin-top: 30px;
  margin-left: 30px;
}

.team-social__link, .footer__social-link {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  transition: background-color var(--transition-param);
}

.team-social__link:hover, .footer__social-link:hover, .team-social__link:focus, .footer__social-link:focus {
  background-color: var(--accent-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header__container {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-style: normal;
}

body.overflow-is-hidden {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--tittle-text-color);
}

@media screen and (max-width: 1199.98px) {
  .title {
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}

.hero__title {
  max-width: 696px;
  margin: 0 auto 30px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  text-transform: uppercase;
}

@media screen and (max-width: 1199.98px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}

.advantages__title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .advantages__title {
    justify-content: start;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199.98px) {
  .footer__title {
    display: flex;
    justify-content: center;
  }
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--tittle-text-color);
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.15;
  }
}

.header__logo {
  margin-right: 93px;
}

.header__logo--color {
  color: var(--logo-text-color);
}

.footer__logo {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199.98px) {
  .footer__logo {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__logo--color {
  color: var(--white-text-color);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 50px;
  border: 1px solid transparent;
  border-radius: var(--btn-radius);
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: var(--transition-param);
}

.btn:hover {
  background-color: var(--bb-focus);
}

.btn:focus {
  background-color: var(--bb-focus);
}

.btn__icon-send {
  margin-left: 10px;
}

.hero__btn {
  margin: 0 auto;
}

@media screen and (max-width: 1199.98px) {
  .footer-form__btn {
    margin-top: 20px;
  }
}

.close-button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  cursor: pointer;
}

.close-button__icon {
  fill: var(--logo-text-color);
  transform: rotate(360deg);
  transition: transform var(--transition-param), fill var(--transition-param);
}

.close-button:hover .close-button__icon,
.close-button:focus .close-button__icon {
  transform: rotate(0deg);
  fill: var(--accent-color);
}

.form__input {
  display: flex;
  min-width: 100%;
  min-height: 40px;
  padding: 8px 8px 8px 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--btn-radius);
  font-family: inherit;
  transition: border-color var(--transition-param), outline-color var(--transition-param);
}

.form__field {
  margin-bottom: 10px;
}

.form__input:focus,
.form__input:hover {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: var(--accent-color);
}

.form__legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}

@media screen and (min-width: 1200px) {
  .form__legend {
    line-height: 1.15;
  }
}

.form__input--comment {
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
}

.checkbox-area {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .checkbox-area {
    padding-left: 42px;
  }
}

.checkbox {
  /* appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  display: inline-block;
  fill: transparent;
  width: 16px;
  height: 15px;
  border: 2px solid var(--tittle-text-color);
  border-radius: 2px;
  transition: fill var(--transition-param), background-color var(--transition-param), border-color var(--transition-param);
}

@media screen and (min-width: 1200px) {
  .checkbox__icon {
    left: 13px;
  }
}

.checkbox:checked + .checkbox__icon {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  fill: var(--white-text-color);
}

.checkbox__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__link {
  margin-left: 6px;
  text-decoration: underline;
  color: var(--accent-color);
}

.form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__input--comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field {
  display: block;
  align-items: center;
  position: relative;
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 11px;
  fill: var(--tittle-text-color);
  transition: fill var(--transition-param);
}

.form__input:focus-within {
  border-color: var(--accent-color);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-bg-color);
  padding: 48px 40px;
  z-index: 99;
}

.mobile-menu.is-open {
  left: 0;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__btn {
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}

.is-open .menu-btn__icon-open {
  display: none;
}

.menu-btn__icon-close {
  display: none;
}

.is-open .menu-btn__icon-close {
  display: block;
}

.menu-btn__icon {
  fill: var(--tittle-text-color);
}

.menu-btn__icon:focus, .menu-btn__icon:hover {
  fill: var(--accent-color);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
  cursor: pointer;
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-contacts {
  padding-bottom: 64px;
}

.mobile-contacts__item:last-child {
  margin-top: 32px;
}

.mobile-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.mobile-contacts__mail:hover, .mobile-contacts__mail:focus {
  color: var(--accent-color);
}

.mobile-menu__social-list {
  display: flex;
  margin-top: auto;
}

.mobile-menu__social-item {
  padding-right: 10px;
}

.mobile-menu__social-item:nth-child(n + 2) {
  padding-left: 10px;
}

.mobile-menu__social-item:not(:last-child) {
  border-right: 1px solid var(--icon-color);
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  cursor: pointer;
}

.backdrop {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1, 1);
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color var(--modal-tr-param), transform var(--modal-tr-param), border-radius var(--modal-tr-param), visibility var(--modal-tr-param), opacity var(--modal-tr-param);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0, 0);
  border-radius: 50%;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  max-height: 100vh;
  overflow-y: auto;
  padding: 40px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 530px;
  }
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  display: flex;
}

.header-contacts__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts__list {
    display: flex;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__list {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header-contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-param);
  display: flex;
  align-items: center;
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
  cursor: pointer;
  transition: color var(--transition-param);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  background: var(--accent-color);
  height: 4px;
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

.advantages__item {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.advantages__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  margin-bottom: 30px;
  background: var(--secondary-bg-color);
  border-radius: 4px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.services {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .services {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
}

.services__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.services__thumb {
  position: relative;
}

.servises__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.servises__text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.team {
  background-color: var(--secondary-bg-color);
}

.team__item {
  flex-basis: 100%;
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.team__box {
  padding: 30px 32px;
  text-align: center;
}

.team__names {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--tittle-text-color);
}

.team__positions {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.team-social__list {
  display: flex;
  justify-content: center;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__link:hover .team-social__icon,
.team-social__link:focus .team-social__icon {
  fill: var(--white-text-color);
}

.team-social__icon {
  fill: var(--icon-color);
}

.clients__item {
  display: flex;
  flex-basis: calc((100% - 2 * 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.client__link {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  color: var(--icon-color);
  border-radius: 4px;
  transition: border-color var(--transition-param), color var(--transition-param);
}

.client__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client__icon {
  fill: currentColor;
}

.footer__div-location {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.footer__flexbox {
  display: flex;
  flex-direction: column;
}

.footer__content-box {
  flex-basis: 100%;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__content-box {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .footer__content-box {
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin-bottom: 0px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-bg-color);
}

.footer-contacts__link {
  color: var(--footer-grey-text);
  transition: color var(--transition-param);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

.footer-contacts__item {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  text-decoration-line: none;
}

@media screen and (max-width: 1199.98px) {
  .footer-contacts__item {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__social-list {
    display: flex;
    justify-content: center;
  }
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-param);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
}

.footer__icon {
  fill: var(--white-text-color);
}

.footer-form__item {
  flex-basis: 100%;
}

@media screen and (min-width: 1200px) {
  .footer-form__item {
    justify-content: center;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

.footer-form__flexbox {
  display: flex;
}

@media screen and (max-width: 1199.98px) {
  .footer-form__flexbox {
    flex-direction: column;
    justify-content: center;
  }
}

.footer__input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: var(--btn-radius);
  min-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 16px;
  font-weight: 400;
}

@media screen and (min-width: 1200px) {
  .footer__input {
    min-width: 358px;
    margin-right: 12px;
  }
}

.footer__input:focus, .footer__input:hover {
  color: var(--footer-grey-text);
  background-color: transparent;
}

.footer__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-grey-text);
}

.filters {
  justify-content: start;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -8px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    justify-content: center;
    padding-bottom: 50px;
  }
}

.filters__button {
  margin-top: 15px;
  margin-left: 8px;
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: var(--btn-radius);
  min-height: 38px;
  min-width: 73px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  background-color: var(--secondary-bg-color);
  transition: color var(--transition-param), background-color var(--transition-param), box-shadow var(--transition-param);
}

.filters__button:hover, .filters__button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__card-text {
  padding: 20px 24px;
}

.portfolio__item {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.portfolio__text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: start;
}

.portfolio__thumb {
  position: relative;
  display: flex;
  overflow: hidden;
}

.portfolio__thumb::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--transition-param);
  transform: translateY(101%);
}

.portfolio__description {
  display: block;
  position: absolute;
  left: 24px;
  top: 77px;
  padding-right: 24px;
  max-width: 100%;
  max-height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transition: transform var(--transition-param);
  transform: translateY(300px);
}

@media screen and (min-width: 768px) {
  .portfolio__description {
    top: 49px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__description {
    top: 63px;
  }
}

.portfolio__link {
  display: block;
  flex-grow: 1;
  transition: box-shadow var(--transition-param);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: var(--portfolio-card-shadow);
}

.portfolio__link:hover .portfolio__description,
.portfolio__link:focus .portfolio__description,
.portfolio__link:hover .portfolio__thumb::before,
.portfolio__link:focus .portfolio__thumb::before {
  transform: translateY(0px);
}

.hero {
  height: 600px;
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-color: var(--accent-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero/hero.jpg");
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("../images/desktop/hero/hero.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/desktop/hero/hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    height: 400px;
    max-width: 768px;
    background-image: url("../images/tablet/hero/hero.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/tablet/hero/hero@2x.jpg");
  }
}

@media screen and (max-width: 767.98px) {
  .hero {
    height: 400px;
    max-width: 480px;
    background-image: url("../images/mobile/hero/hero.jpg");
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/mobile/hero/hero@2x.jpg");
  }
}
/*# sourceMappingURL=main.css.map */