%flexSet {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
%section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  }
  
%item {
  margin-top: 30px;
  margin-left: 30px;
}

%socialLink {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  transition: background-color var(--transition-param);

  &:hover,
  &:focus {
  background-color: var(--accent-color);
  }
}


